<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Situação</th>      
      <th>Data Limite</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @colaboradores.each do |colaborador| %>
      <tr>
        <td><%= colaborador.pessoa_fisica_nome %></td>
        <td><%= colaborador.pessoa_fisica_cpf %></td>
        <td><%= colaborador.colaborador.get_permissao_acesso.get_data.to_date > Date.today ? "Ativo" : "Expirado" %></td>        
        <% if colaborador.colaborador.get_permissao_acesso %>
          <td><%= colaborador.colaborador.get_permissao_acesso.get_data %></td>
        <% else %>
          <td>Sem Acesso</td>        
        <% end %>

        <% if colaborador.colaborador.get_permissao_acesso %>

          <td><%= button_to "Atualizar", {:controller => :permissao_acessos,
      :action => 'atualizar', :id => colaborador.colaborador.get_permissao_acesso.id, remote: true }, class: "btn btn-success" %></td>
          <td><%= button_to 'Revogar', colaborador.colaborador.get_permissao_acesso, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn btn-danger"  %></td>
        <% else %>

          <td><%= button_to "Liberar", {:controller => :permissao_acessos,
      :action => 'liberar', :cpf => colaborador.pessoa_fisica_cpf, remote: true }, class: "btn btn-success"  %></td>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>