<h1>Listing situacoes</h1>

<table>
  <thead>
    <tr>
      <th>Preso</th>
      <th>Instituicao</th>
      <th>Cidade</th>
      <th>Uf</th>
      <th>Data prisao</th>
      <th>Motivo</th>
      <th>Assistido</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @situacoes.each do |situacao| %>
      <tr>
        <td><%= situacao.preso %></td>
        <td><%= situacao.instituicao %></td>
        <td><%= situacao.cidade %></td>
        <td><%= situacao.uf %></td>
        <td><%= situacao.data_prisao %></td>
        <td><%= situacao.motivo %></td>
        <td><%= situacao.assistido %></td>
        <td><%= link_to 'Show', situacao %></td>
        <td><%= link_to 'Edit', edit_situacao_path(situacao) %></td>
        <td><%= link_to 'Destroy', situacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Situacao', new_situacao_path %>
