<h3>Documentos Anexados</h3>
<p>Clique no nome para fazer download.</p>
<table style="width: 100%;">
  <tr>
    <th>Arquivo</th>
    <th>Tamanho</th>
    <th>Data do Ato</th>
    <th>Classificação Documento</th>
  </tr>  
  
  <% @inquerito_policial.documento.each do |documento| %>
    <tr>
      <td style="text-align:center;">
        <%= form_tag "/download" do %>
          <%= hidden_field_tag :documento, documento.id %>            
          <%= button_to documento.nome_url, {:controller => :assistidos, :action => :download }, style: "margin-top:10px;" %>
        <% end %>                
      </td>
      <td style="text-align:center;">
         <%= tamanho_arquivo("public/documentos/#{documento.assistido_id}/inqueritos/#{documento.inquerito_policial_id}/#{documento.nome_url}") %>
      </td>
      <td style="text-align:center;">
        <%= l documento.data %>               
      </td>
      <td style="text-align:center;">
        <%= documento.classificacao_documento.descricao %>               
      </td>
    </tr>
  <% end %>             
</table>