<%= javascript_include_tag "jquery.mask", "mascaras", "datepicker" %>

<%= render 'layouts/errors', row: @inquerito_policial %>

<div class="field" style="font-size: 16px";>
  <Label>Assistido: </label> <br>
  <%= @assistido.nome %>
</div>

<br>

<% if @inquerito_policial.infracao.length > 0 %>
  <h5>Infrações já registradas:</h5>
  <div id="infracoes_registradas">
    <% @inquerito_policial.infracao.each do |infracao| %>
      <%= link_to infracao, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta infração?' } do %>
        <span class="label label-danger" title="<%= infracao.descricao_nome %>">
          <%= infracao.descricao_codigo %>
        </span>&nbsp;
      <% end %>
    <% end %>
  </div>
<% end %>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Infrações</h3>
    </div>
    <div class="panel-body">
    <div class="col-md-12">
      <% if @inquerito_policial.id != nil %>
        <%= render "add_infracao_edit" %>
      <% else %>
        <%= render "add_infracao_new" %>
      <% end %>

      <div id="infracoes">
      </div>

      <% if @inquerito_policial.id != nil %>
        As Infrações só serão adicionadas, após salvar as edições do inquérito.
      <% end %>
      </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Campos Obrigatórios</h3>
    </div>

  <%= form_for(@inquerito_policial) do |f| %>
    <span id="campo_infracoes"></span>
      <div class="panel-body">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :numero, "Número do Inquérito" %><br>
          <%= f.text_field :numero %>
        </div>

        <div class="field">
          <%= f.label :origem_inquerito_id, "Origem Inquérito" %><br>
          <%= f.select :origem_inquerito_id, (OrigemInquerito.all.map{|origem| [origem.nome+" - "+origem.cidade.nome+" - "+origem.uf, origem.id]}), include_blank: 'Selecione uma opção' %>
        </div>

        <label>Número de Anexo:</label> <br>
        <div class="input-group">
          <%= f.text_field :numero_anexo, class: "form_control numero", size: 6, maxlength: 4 %>
          <span class="input-group-addon">/<%= Date.today.year %></span>
        </div>

        <div class="field">
          <%= f.label :data_abertura, "Data Abertura" %><br>
          <% if @inquerito_policial["data_abertura"] %>
            <%= f.text_field :data_abertura, value: (l @inquerito_policial["data_abertura"]), size: 7, class: "campo_data" %>
          <% else %>
            <%= f.text_field :data_abertura, size: 10, class: "campo_data" %>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :data_crime, "Data Crime" %><br>
          <% if @inquerito_policial["data_crime"] %>
            <%= f.text_field :data_crime, value: (l @inquerito_policial["data_crime"]), size: 7, class: "campo_data" %>
          <% else %>
            <%= f.text_field :data_crime, size: 10, class: "campo_data" %>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :instauracao, "Instauração" %><br>
          <%= f.select :instauracao, options_for_select(["", "Flagrante", "Portaria"], selected: @inquerito_policial["instauracao"]) %>
        </div>

        <div class="field">
          <%= f.label :cidade_crime, "Cidade da Infração" %><br>
          <%= f.select :cidade_crime, listaCidades.map{|c| [c.nome+" - "+c.uf,c.nome]}, include_blank: 'Selecione uma opção' %>
        </div>

      </div>
      </div>


    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Dados Infração / Informações Adicionais</h3>
        </div>
        <div class="panel-body">
        <div class="col-md-12">

          <div class="field">
            <label>Defensor Responsável: </label> <br>
            <%= f.select :defensor_responsavel, (get_defensores.all.map{|d| [d.pessoa_fisica_nome, d.pessoa_fisica_cpf]}), include_blank: 'Selecione uma opção' %>
          </div>

          <div class="field">
            <%= f.label :infracao_logradouro, "Logradouro" %><br>
            <%= f.text_field :infracao_logradouro, size: 35 %>
          </div>

          <div class="field">
            <%= f.label :infracao_numero, "Numero" %><br>
            <%= f.text_field :infracao_numero, size: 20 %>
          </div>

          <div class="field">
            <%= f.label :infracao_complemento, "Complemento" %><br>
            <%= f.text_field :infracao_complemento , size: 35 %>
          </div>

          <div class="field">
            <%= f.label :infracao_bairro, "Bairro"  %><br>
            <%= f.text_field :infracao_bairro %>
          </div>

          <div class="field">
            <%= f.label :infracao_cep, "CEP" %><br>
            <%= f.text_field :infracao_cep, size: 10, class: "cep", maxlength: 9  %>
          </div>

          <div class="field">
            <%= f.label :observacao, "Observação" %><br>
            <%= f.text_area :observacao , rows: 6, cols: 60%>
          </div>

          <div class="field">
            <%= f.label :latitude %><br>
            <%= f.text_field :latitude %>
          </div>

          <div class="field">
            <%= f.label :longitude %><br>
            <%= f.text_field :longitude %>
          </div>
          <%= f.submit "Salvar", class: "btn btn-success margin-top" %>
        </div>
        </div>
    </div>
  <% end %>
</div>

<div style="float:left; margin-left: 5px;">
  <%= link_to 'Cancelar', "/assistidos/#{session["assistido_selecionado"]}", class: "btn btn-primary" %>
</div>

<% if @inquerito_policial.id != nil %>
  <div style="float:left; margin-left: 5px;">
    <%#= link_to 'Excluir Inquérito', @inquerito_policial, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este inquerito?' }, type: 'button', class: "btn btn-danger", id: "excluir" %>
  </div>
<% end %>

<br>
<hr>
<%= render 'adicionar_documentos' %>
<br>
