<%= form_for(@infracao) do |f| %>
  <% if @infracao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infracao.errors.count, "error") %> prohibited this infracao from being saved:</h2>

      <ul>
      <% @infracao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inquerito_policial_id %><br>
    <%= f.text_field :inquerito_policial_id %>
  </div>
  <div class="field">
    <%= f.label :descricao_codigo %><br>
    <%= f.text_field :descricao_codigo %>
  </div>
  <div class="field">
    <%= f.label :descricao_nome %><br>
    <%= f.text_field :descricao_nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
