<%= form_for(@classificacao_documento) do |f| %>
  <% if @classificacao_documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classificacao_documento.errors.count, "erro(s)") %> Impediram esta Classificação de Documento de ser salva:</h2>

      <ul>
      <% @classificacao_documento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao, "Nome" %><br>
    <%= f.text_field :descricao %>
  </div>

  <div class="field margin-top">
    <%= f.label :tipo_documento_id, "Tipo Documento" %><br>
    <%= f.select :tipo_documento_id, @tipos_documentos.map{|d| [d.descricao, d.id]} %>
  </div>

  <div class="actions margin-top">
    <%= f.submit "Salvar", class: "btn btn-success" %>
  </div>
<% end %>
