<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Lista de Classificações de Documentos</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <%= link_to 'Nova Classificação de Documento', new_classificacao_documento_path, :class=> 'btn btn-primary' %>
      <table class="table table-hover margin-top">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @classificacao_documentos.each do |classificacao_documento| %>
            <tr>
              <td><%= classificacao_documento.descricao %></td>
              <td><%= classificacao_documento.tipo_documento_nome %></td>
               <td class="icon-width"><%= link_to 'Exibir', classificacao_documento, :class=> "intra-icon icon-exibir" %></td>
              <td class="icon-width"><%= link_to 'Editar', edit_classificacao_documento_path(classificacao_documento), :class=> "intra-icon icon-edit" %></td>
              <td class="icon-width"><%= link_to 'Deletar', classificacao_documento, :class=> "intra-icon icon-excluir", method: :delete, data: { confirm: 'Tem certeza?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
