<table id="tipo-de-andamento" class="table-ficha">
  <thead>
  <tr>
    <th>Tipos de Andamento</th>
    <th width="100" class="text-center">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr data-key="at_presencial" data-value="<%= @relatorio[:tipo_andamento][:at_presencial] %>">
    <td>Presencial</td>
    <td class="text-center"><%= @relatorio[:tipo_andamento][:at_presencial] %></td>
  </tr>
  <tr data-key="at_analise_processual" data-value="<%= @relatorio[:tipo_andamento][:at_analise_processual] %>">
    <td>Análise Processual</td>
    <td class="text-center"><%= @relatorio[:tipo_andamento][:at_analise_processual] %></td>
  </tr>
  <tr>
    <td>Quantidade de Assistidos</td>
    <td class="text-center"><%= @relatorio[:tipo_andamento][:total_assistidos] %></td>
  </tr>
  <tr>
    <td>Quantidade de Processos</td>
    <td class="text-center"><%= @relatorio[:tipo_andamento][:total_processos] %></td>
  </tr>
  </tbody>
</table>
