<%= form_tag "/add_local", remote: true do %>
  <%= hidden_field_tag :id, params[:id] if params[:id]%>
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <label for="lcl_atc_acompanhar" class="control-label">Local de Atuação <span class="text-danger">*</span></label>
        <% locais_atuacao = get_locais_atuacao(get_cpf) %>
        <% if locais_atuacao.first.id.present? %>
          <%= select_tag :lcl_atc_acompanhar, options_for_select(locais_atuacao.map{|l| [l.descricao_local, l.id]}), prompt: 'Selecione uma opção' %>
        <% else %>
          <%= select_tag :lcl_atc_acompanhar, options_for_select(locais_atuacao.map{|l| [l.descricao_local, l.descricao_local]}), prompt: 'Selecione uma opção' %>
        <% end %>
      </div>
    </div>
  </div>
  <%= submit_tag "Adicionar Local Selecionado", class: "btn btn-primary" %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div id="locais_atuacao_processo">
      <% locais = get_locais_acessiveis %>
      <% locais[:locais_acessiveis].each do |local| %>
        <%= link_to local, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este local?' }, class: 'span-local-atuacao-saved', style: 'text-decoration-color: #d9534f' do %>
        <span class="label label-danger" id="<%= local.lotacao_defensor.id %>" title="<%= local.lotacao_defensor.descricao_local %>" style="margin-right: 5px;">
          <%= local.lotacao_defensor.descricao_local %> <span class="remove-local hidden"><strong><i class="fa fa-times fa-fw"></i></strong></span>
        </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
