<h3>Andamentos</h3>

<table class="table table-hover">
  <tr>
    <th width="10">Data</th>
    <th width="200">Classificação</th>
    <th>Observação</th>
    <th width="100">Anexo</th>
    <th width="150" class="text-center">Ações</th>
  </tr>

  <% @andamentos.each do |andamento| %>
    <tr>
      <td><%= (l andamento.data rescue '') %></td>
      <td><%= andamento.classificacao_andamento.descricao rescue '' %></td>
      <td><%= andamento.observacao rescue '' %></td>
      <td>
        <% if andamento.documento_id.present? %>
          <%= form_tag "/download" do %>
            <%= hidden_field_tag :documento, andamento.documento_id %>
            <%= button_to "Download", {:controller => :assistidos, :action => :download}, class: "margem_top_10" %>
          <% end %>
        <% end %>
      </td>
      <td class="text-center">
        <% if get_destrava_ultimo_andamento(params['id']) == andamento.id %>
          <%= link_to andamento_path(andamento, :processo => params['id'], visualizar: true), class: 'btn btn-default btn-sm',
                      title: 'Edição' do %>
            <i class="fa fa-edit"></i>
          <% end %>
        <% end %>
        <%= link_to andamento_path(andamento, :processo => params['id'], visualizar: false), class: 'btn btn-default btn-sm',
                    title: 'Detalhes' do %>
          <i class="fa fa-eye"></i>
        <% end %>
        <% if @processo_judicial.processo_tipo == 'Execução Penal' %>
          <%= link_to gerar_ficha_path(id: andamento.id, format: 'pdf'), title: 'Gerar Ficha Padrão', target: '_blank',
                      class: 'btn btn-default btn-sm' do %>
            <i class="fa fa-download"></i>
          <% end %>
        <% end %>
        <% if get_remove_botao_apagar(andamento.id) %>
          <%= link_to '<i class="fa fa-ban"></i>'.html_safe, apagar_andamento_processo_judiciais_path(andamento.id,
                     andamento.processo_id), method: :delete, data: { confirm: 'Tem Certeza?' },
                      class: 'btn btn-danger btn-sm' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="9" style="text-align:left; padding-left:50px;  border-top: 0"><b>Resposta:</b> <%= andamento.resposta %></td>
    </tr>
  <% end %>
</table>
