<% if @local_atuacao_processo.lotacao_defensor.present? %>
if ($("#locais").find('[value="<%= @local_atuacao_processo.lotacao_defensor.id %>"]').length === 0 && $("#" + <%= @local_atuacao_processo.lotacao_defensor.id %>).length === 0) {
    $("#locais_atuacao_processo").append('<span style="margin: 0 5px 5px 0; cursor: pointer" class="label label-danger span-local-atuacao" data-value="<%= @local_atuacao_processo.lotacao_defensor.id %>" title="<%= @local_atuacao_processo.lotacao_defensor.descricao_local %>"><%= @local_atuacao_processo.lotacao_defensor.descricao_local %> <span class="remove-local hidden"><strong><i class="fa fa-times fa-fw"></i></strong></span></span>');
    $("#locais").append('<%= hidden_field_tag :locais, (@local_atuacao_processo.lotacao_defensor.id), name: "locais[]" %>');
}
<% end %>

$('.span-local-atuacao').click(function () {
    var value = $(this).data('value');
    $(this).remove();
    $("#locais").find('[value="' + value + '"]').remove();
});

$('.span-local-atuacao').hover(function () {
    $('.remove-local').removeClass('hidden');
    $('.remove-local').cursor('pointer');
}, function(){
    $('.remove-local').addClass('hidden');
});
