<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
  <link href="<%= "#{Rails.root}/app/assets/stylesheets/sic/gerar-ficha-padrao.css"%>" media="screen" rel="stylesheet" />
</head>
<body onload=''>
  <div id="header" style="text-align: center">
    <%= image_tag("#{Rails.root}/app/assets/images/defensoria-sem-fronteira.png", height: "60", class: "img-center") %>
    <%= image_tag("#{Rails.root}/app/assets/images/defensoria_logo_solo.png", height: "120") %>
    <%= image_tag("#{Rails.root}/app/assets/images/condege-logo.png", height: "60", class: "img-center") %>
  </div>
  <div id="content">
    <div class="ficha-title"><span>FICHA PADRONIZADA DE ATENDIMENTO</span></div><br>
    <div class="col-field">
      <label>Nome: </label><span><%= @assistido.nome %></span>
    </div>
    <div class="col-field">
      <label>Código/Nome Mãe: </label><span><%= @assistido.nome_mae %></span>
    </div>
    <div class="col-field">
      <label>Unidade Prisional: </label><span><%= @situacao.instituicao if @situacao.present? %></span>
    </div>

    <div>
      <div class="ficha-title">EXECUÇÃO PENAL</div>
      <table class="table-ficha">
        <thead>
        <tr>
          <th>PENA</th>
          <th>Artigo</th>
          <th>Data fato</th>
          <th>Progressão</th>
          <th>ST</th>
          <th>LC</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="height: 25px"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-field">
      <label>Prisões: </label><span></span>
    </div>
    <div class="col-field">
      <label>Remição homologada: </label><span><%= @andamento.remissao_homologada ? 'Sim': 'Não'  %></span>
    </div>
    <div class="col-field">
      <label>Cabe indulto/comutação? </label><span><%= @andamento.indulto_comutacao ? 'Sim': 'Não' %></span>
    </div>
    <div class="col-field">
      <label>Data-base da progressão: </label><span><%= l @andamento.data_base_progressao if @andamento.data_base_progressao %></span>
    </div>
    <div class="col-field">
      <label>Progressão de regime: </label><span><%= l @andamento.data_progressao_de_regime if @andamento.data_progressao_de_regime %></span>
    </div>
    <div class="col-field">
      <label>Livramento condicional: </label><span><%= l @andamento.data_livramento_condicional if @andamento.data_livramento_condicional %></span>
    </div>

    <div>
      <div class="ficha-title">PROCESSO(S) DE CONHECIMENTO (em andamento):</div>
      <table class="table-ficha">
        <thead>
        <tr>
          <th>Número do processo</th>
          <th>Artigo</th>
          <th>Data fato</th>
          <th>Situação</th>
          <th>Situação do andamento processual</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @processo_judicial.numero %></td>
          <td><%= artigo %></td>
          <td><%= l @inquerito_policial.data_crime if @inquerito_policial.present? %></td>
          <td><%= @situacao.situacao_estado if @situacao.present? %></td>
          <td><%= @processo_judicial.resumo %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-field">
      <label>PROVIDÊNCIAS/PEDIDOS: </label>
    </div>
    <div class="ficha-assinatura">
      <div class="col-field">
        <span>Fortaleza/CE, <%= l Time.now %></span>
      </div>
      <hr>
      <div><%= current_user.pessoa_fisica_nome %></div>
      <div><span>Defensor(a) Público(a)</span></div>
    </div>
  </div>


</body>
</html>
