<%= form_for(@cidade) do |f| %>
  <% if @cidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cidade.errors.count, "erro(s)") %> impediram esta Cidade de ser salva:</h2>

      <ul>
      <% @cidade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field margin-top">
    <%= f.label :uf, "UF" %><br>
    <%= f.select :uf, (listaEstados) %>
  </div>
  
  <div class="actions margin-top">
    <%= f.submit "Salvar", class: "btn btn-success" %>
    <%= link_to 'Voltar', cidades_path, :class =>  "btn btn-danger" %>
  </div>
<% end %>
