<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Lista de Cidades</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
    <%= link_to 'Nova Cidade', new_cidade_path, :class=> "btn btn-primary" %>

      <% if @cidade.present? and @cidade.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cidade.errors.count, "erro(s)") %> impediram esta ação:</h2>

          <ul>
          <% @cidade.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <table class="table table-hover margin-top">
        <thead>
          <tr>
            <th>Nome</th>
            <th>UF</th>
            <th>Exibir</th>
            <th>Editar</th>
            <th>Deletar</th>
          </tr>
        </thead>

        <tbody>
          <% @cidades.each do |cidade| %>
            <tr>
              <td><%= cidade.nome.mb_chars.downcase.humanize.titleize %></td>
              <td><%= cidade.uf %></td>
              <td class="icon-width text-center"><%= link_to 'Exibir', cidade, :class=>"intra-icon icon-exibir", :title => "Exibir" %></td>
              <td class="icon-width text-center"><%= link_to 'Editar', edit_cidade_path(cidade), :class=>"intra-icon icon-edit", :title => "Editar" %></td>
              <td class="icon-width text-center"><%= link_to 'Deletar', cidade, method: :delete, :class=>"intra-icon icon-excluir", data: { confirm: 'Tem certeza?' }, :title => "Deletar" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>