<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Cidades</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Nome:</strong>
          <%= @cidade.nome %>
        </p>

        <p>
          <strong>UF:</strong>
          <%= @cidade.uf %>
        </p>

        <%= link_to 'Editar', edit_cidade_path(@cidade), class: "btn btn-primary" %>
        <%= link_to 'Voltar', cidades_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
