<h1>Listing eventos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Descricao</th>
      <th>Tipo</th>
      <th>Local atuacao</th>
      <th>Assistido</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.data %></td>
        <td><%= evento.descricao %></td>
        <td><%= evento.tipo %></td>
        <td><%= evento.local_atuacao %></td>
        <td><%= evento.assistido %></td>
        <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
