<%= form_tag(atividades_realizadas_andamentos_path, {:method => :get, :id => 'filtros'}) do  %>
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <%= label_tag "Data Inicial" %>
        <%= text_field_tag :inicial, params[:data_inicial], id: "data_inicial", name: "data_inicial",
                           class:"campo_data form-control" %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <%= label_tag "Data Final"%>
        <%= text_field_tag :final, params[:data_final], id: "data_final", name: "data_final",
                           class:"campo_data form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <label for="forca_tarefa_id">Defensor</label>
        <%= select_tag 'defensor_cpf', options_for_select((get_defensores.all.map{|d| [d.pessoa_fisica_nome,
                     d.pessoa_fisica_cpf]}), params["defensor_cpf"]), include_blank: 'Selecione uma opção' %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <label for="forca_tarefa_id">Força Tarefa</label>
        <%= select_tag 'forca_tarefa_id', options_from_collection_for_select(@forca_tarefa, 'id', 'nome',
                                                                             :selected => params[:forca_tarefa_id]),
                       prompt: 'Selecione uma opção'%>
      </div>
    </div>
  </div>

  <%= submit_tag "Consultar", class: "btn btn-success" %>

  <div class="text-center">
    <%= link_to 'Download', atividades_realizadas_andamentos_path(:data_inicial => params[:data_inicial],
                                                      :data_final => params[:data_final],
                                                      :defensor_cpf => params["defensor_cpf"],
                                                      :forca_tarefa_id => params[:forca_tarefa_id], :method => :get,
                                                      :format => :pdf), type: 'button', :target => "_blank",
                class: "btn btn-default" %>
  </div>
<% end %>

