<p id="notice"><%= notice %></p>

<p>
  <strong>Assistido:</strong>
  <%= @informacao_socioeconomica.assistido_id %>
</p>

<p>
  <strong>Nivel escolaridade:</strong>
  <%= @informacao_socioeconomica.nivel_escolaridade %>
</p>

<p>
  <strong>Usa drogas:</strong>
  <%= @informacao_socioeconomica.usa_drogas %>
</p>

<p>
  <strong>Aceita tratamento:</strong>
  <%= @informacao_socioeconomica.aceita_tratamento %>
</p>

<p>
  <strong>Problema sauda:</strong>
  <%= @informacao_socioeconomica.problema_sauda %>
</p>

<p>
  <strong>Incluido atividade presidio:</strong>
  <%= @informacao_socioeconomica.incluido_atividade_presidio %>
</p>

<p>
  <strong>Trabalhava antes prisao:</strong>
  <%= @informacao_socioeconomica.trabalhava_antes_prisao %>
</p>

<p>
  <strong>Renda familiar:</strong>
  <%= @informacao_socioeconomica.renda_familiar %>
</p>

<%= link_to 'Edit', edit_informacao_socioeconomica_path(@informacao_socioeconomica) %> |
<%= link_to 'Back', informacao_socioeconomicas_path %>
