<!DOCTYPE html>
<html>
    <head>
        <title>Sistemas de Informações Criminais - Login</title>
        <%= stylesheet_link_tag    "application", "login", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <% if alert %>
            <div class="alerta center">
                <p class="alerta alerta-error"><%= alert %></p>
            </div>
        <% else %>
            <div class="login_almoxarifado_title center">
                <h3>Sistemas de Informações Criminais</h3>
            </div>
        <% end %>

        <div class="pf-login">
            <div class="login_almoxarifado_campos_fundo center">
                <% if resource.errors.any? %>
                    <div class="alert_login">
                        <p class="alert alert-error"><%= resource.errors.full_messages[0]%></p>
                    </div>
                <% end %>

                <div class="login_almoxarifado_campos_forgot_pass">
                    <%= yield %>
                </div>
            </div>
        </div>
    </body>
</html>
