 <!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Informações Criminais - Login</title>
        <%= stylesheet_link_tag    "application", "login", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <div class="login_almoxarifado_title center">
            <h3>Sistema de Informações Criminais</h3>
        </div>

        <div class="pf-login">
            <div class="login_almoxarifado_campos_fundo center">
                <% if notice %>
                    <div class="notice_login">
                        <p class="alert alert-notice"><%= notice %></p>
                    </div>
                <% end %>

                <% if alert %>
                    <div class="alert_login">
                        <p class="alert alert-error"><%= alert %></p>
                    </div>
                <% end %>

                <div class="login_almoxarifado_campos">
                    <%= yield %>
                </div>
            </div>
        </div>
    </body>
</html>
 <div class="center margin-top">
   <b>Manual SIC:</b><%= link_to "Clique aqui","assets/SIC_MANUAL/Manual_SIC.pdf",:target => "_blank" %></a>
 </div>
