<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
  <link href="<%= "#{Rails.root}/app/assets/stylesheets/sic/relatorio-forca-tarefa.css"%>" media="screen" rel="stylesheet" />
</head>
<body onload=''>
<div id="content">
  <div>
    <h3 align="center">Relatório de Atividades Realizadas</h3>
    <div class="ficha-title">Período : <%= params[:data_inicial] %> à <%= params[:data_final] %> Força Tarefa : <%= @forca_tarefa_nome.nome rescue '' %></div>
    <%= render 'andamentos/partials/consultar/table_providencia' %>
  </div>
</div>
</body>
</html>
