<%= render 'andamentos/partials/consultar/modal' %>

<script type="text/javascript" charset="utf-8">
    URL_GET_ASSISTIDOS = '<%= get_assistidos_andamentos_path %>';
</script>

<%= javascript_include_tag 'sic/loader' %>
<%= javascript_include_tag 'sic/relatorios/atividades_realizadas/grafico' %>
<%= javascript_include_tag 'sic/andamento/main' %>
<%= stylesheet_link_tag 'sic/andamento/main' %>

<div class="panel panel-default">
  <div class="panel-heading">Relatório de Atividades Realizadas</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <%= render 'andamentos/partials/atividades/filtros_atividades' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= render 'andamentos/partials/consultar/table_providencia' %>
      </div>
      <div class="col-md-6">
        <div id="array_atividades" data-array="<%= @relatorio[:providencia].to_json %>"></div>
        <div id="donutchart" style="width: 900px; height: 500px;"></div>
      </div>
    </div>
  </div>
</div>

