<%= render 'andamentos/partials/consultar/modal' %>

<script type="text/javascript" charset="utf-8">
  URL_GET_ASSISTIDOS = '<%= get_assistidos_andamentos_path %>';
</script>

<%= javascript_include_tag 'sic/andamento/main' %>
<%= stylesheet_link_tag 'sic/andamento/main' %>

<div class="panel panel-default">
  <div class="panel-heading">Relatório Quantitativo da Força Tarefa</div>
  <div class="panel-body">
    <%= render 'andamentos/partials/consultar/filtros' %>

    <%= render 'andamentos/partials/consultar/table_providencia' %>
    <%= render 'andamentos/partials/consultar/table_tipo_andamento' %>
    <%= render 'andamentos/partials/consultar/table_problema_identificado' %>
  </div>
</div>

