<%= form_for(@vinculo_defensor) do |f| %>
    <% if @vinculo_defensor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@vinculo_defensor.errors.count, "erro(s)") %> imperdiram este vínculo de ser salvo:</h2>

          <ul>
            <% @vinculo_defensor.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :assistido_id, "Assistido" %>
      <%= get_assistido(params[:assistido_id]) %>
      <%= f.hidden_field :assistido_id, value: (params[:assistido_id]) %>
    </div>

    <div class="input-group">
      <div class="input-group-addon">
        <%= f.label :defensor_cpf, "Defensores" %>
      </div>
      <%= f.select :defensor_cpf, options_for_select((get_defensores.all.map{|d| [d.pessoa_fisica_nome, d.pessoa_fisica_cpf]}), @vinculo_defensor.defensor_cpf), include_blank: 'Selecione uma opção' %>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.check_box :acompanhar_processo %>
        <%= f.label :acompanhar_processo, "Acompanhar Processo", value: @vinculo_defensor.acompanhar_processo %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.check_box :acompanhar_inquerito %>
        <%= f.label :acompanhar_inquerito, "Acompanhar Inquérito", value: @vinculo_defensor.acompanhar_inquerito %>
      </div>
    </div>

    <div class="actions margin-top">
      <%= f.submit "Salvar", class: "btn btn-success" %>
      <%= link_to 'Voltar', assistido_path(params[:assistido_id]), class: "btn btn-primary" %>
    </div>
<% end %>
