<div class="form-group">
  <%= f.label :nome %><br>
  <%= f.text_field :nome %>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <%= f.label :data_inicial %><br>
      <%= f.text_field :data_inicial, value: @forca_tarefa.data_inicial? ? @forca_tarefa.data_inicial.strftime('%d/%m/%Y') : '', size: 10, class: "campo_data" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="form-group">
      <%= f.label :data_final %><br>
      <%= f.text_field :data_final, value: @forca_tarefa.data_final? ? @forca_tarefa.data_final.strftime('%d/%m/%Y') : '', size: 10, class: "campo_data" %>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :ativo %><br>
  <%= f.select :ativo, options_for_select(yes_or_no_choices, selected: @forca_tarefa["ativo"] == nil ? '' : (@forca_tarefa["ativo"] ? 1 : 0))  %>
</div>
