<%= javascript_include_tag "datepicker" %>

<%= form_for(@notificacao) do |f| %>
  <% if @notificacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notificacao.errors.count, "erro(s)") %> impediram essa notificação de ser salva:</h2>

      <ul>
      <% @notificacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assistido_id, "Assistido" %> (Caso não preenchido a notificação será pessoal)<br>
    <%= text_field_tag :assistido_notificacao, "", size: 40 %>
  </div>

  <div class="field margin-top">
    <%= f.label :data %><br>
    <%= f.text_field :data, class: "campo_data" %>
  </div>

  <div class="field margin-top">
    <%= f.label :descricao, "Descrição" %><br>
    <%= f.text_area :descricao, cols: 60, rows: 5 %>
  </div>

  <%= f.hidden_field :notificado, value: current_colaborador.pessoa_fisica_cpf %>
  <%= f.hidden_field :tipo, value: "Agendado" %>

  <div class="actions margin-top">
    <%= f.submit "Criar Notificação", class: "btn btn-success" %>
  </div>
<% end %>
