<fieldset>
  <legend>Notificações</legend>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Data do Alerta</th>
        <th>Assistido</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Status</th>
        <th>Data Criação</th>
      </tr>
    </thead>

    <tbody>
      <% @notificacoes.each do |notificacao| %>
        <tr>
          <td><%= (l notificacao.data) %></td>        
          <td><%= notificacao.assistido.nome rescue 'Usuário' %></td>
          <td><%= notificacao.descricao %></td>
          <td><%= notificacao.tipo %></td>
          <td><%= notificacao.visto ? 'Já Alertado' : 'Não Alertado' %></td>
          <td><%= (l notificacao.data) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
