<%= javascript_include_tag "autocompleta_assistido", "datepicker" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Relatório de Acompanhamento de Notificações</h3>
  </div>
  <div class="panel-body">
    <%= form_tag("/pesquisar", method: "get", remote: true) do %>
      <div class="col-md-6">
        <%= label_tag "Data do alerta: " %>
        <%= text_field_tag :data_ini, "", class: "campo_data", size: 10 %>
      </div>
      <div class="col-md-6">
        <%= label_tag "até " %>
        <%= text_field_tag :data_fim, "", class: "campo_data", size: 10 %>
      </div>
      <div class="col-md-6">
        <%= label_tag "Assistido Vinculado:" %><%= text_field_tag :assistido, "", size: 40 %>
      </div>
      <div class="col-md-6">
        <%= label_tag "Descrição" %><%= text_field_tag :descricao, "", size: 50 %>
      </div>
      <div class="col-md-6">
        <%= label_tag "Tipo" %> <%= select_tag :tipo, options_for_select(@tipos) %>
      </div>
      <div class="col-md-6">
        <%= label_tag "Status" %> <%= select_tag :status, options_for_select(@status) %><br />
      </div>
      <div class="col-md-6">
        <%= submit_tag "Buscar", class: "btn btn-success" %>
      </div>
    <% end %>
    <div id="notificacoes_grid" class="col-md-12">
      <fieldset>
        <legend>Notificações</legend>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Data do Alerta</th>
            <th>Assistido</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Status</th>
            <th>Data Criação</th>
          </tr>
          </thead>

          <tbody>
          <% @notificacoes.each do |notificacao| %>
            <tr>
              <td><%= (l notificacao.data) %></td>
              <td>
                <%= notificacao.assistido.nome rescue 'Usuário' %>
              </td>
              <td><%= notificacao.descricao %></td>
              <td><%= notificacao.tipo %></td>
              <td>
                <% if notificacao.visto %>
                  Já Alertado
                <% else %>
                  Não Alertado
                <% end %>
              </td>
              <td><%= (l notificacao.data) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </fieldset>
    </div>
  </div>
</div>
