<script>
    function limpar_buscar_avancada(){
        $("#busca_nome").val('')
        $("#busca_nome_social").val('')
        $("#busca_sexo_Masculino").prop('checked', false);
        $("#busca_sexo_Feminino").prop('checked', false);
        $("#busca_nome_mae").val('')
        $("#busca_nome_pai").val('')
        $("#busca_profissao").val('')
        $("#busca_cep").val('')
        $("#busca_data_nascimento_inicio").val('')
        $("#busca_data_nascimento_fim").val('')
        $("#busca_cidade").val('')
        $("#busca_uf").val('')
        $("#busca_logradouro").val('')
        $("#busca_numero").val('')
        $("#busca_bairro").val('')
        $("#busca_complemento").val('')
        $("#busca_telefone").val('')
        $("#busca_processo").val('')
        $("#busca_observacao").val('')
    }

    function menu_busca_avancada(){
        $("#busca_avancada").show();
        $("#busca_avancada").dialog("open");
    }

    function menu_notificacoes(){
        $("#notificacoes").show();
        $("#notificacoes").dialog("open");
    }
</script>

<style>
  .button_to {
    display: inline;
  }

  .button_to div {
    display: inline;
  }
</style>

<% @notificacoes = gerar_notificacoes(get_cpf) %>

<div style="margin-top:-25px; margin-right:25px; float:right;" class="switch-element" data-elemento="#notificacoes">
  <i class="fa fa-bell fa-fw"></i>
  <% if @notificacoes.length > 0 %>
    <span class="label label-danger" title=""> <%= @notificacoes.length %> </span>
  <% end %>
</div>

<div id="notificacoes" title="Notificações" class="notificacoes-content hiden" data-display="false">
  <% if @notificacoes.length > 0 %>
    <% @notificacoes.each do |notificacao| %>
      <a href="/notificacoes/<%= notificacao.id %>" style="text-decoration:none;">
        <div class="panel panel-default">
          <div class="panel-heading">

          </div>
          <div class="panel-body">
            <div class="col-md-12">
              <div class="col-md-2">
                <% if notificacao.assistido != nil %>
                  <img class="avatar_imagem_mini" alt="Avatar" width="40" src="/<%= notificacao.assistido.imagem_url %>">
                <% else %>
                  <img class="avatar_imagem_mini" alt="Avatar" width="40" src="/images/avatar/agendado.png">
                <% end %>
              </div>
              <div class="col-md-10">
                <div class="col-md-8">
                  <b>
                    <% if notificacao.assistido != nil %>
                      <%= notificacao.assistido.nome %>
                    <% else %>
                      Usuário
                    <% end %>
                  </b>
                </div>
                <div class="col-md-4">
                  <%= (Date.today - notificacao.data).to_i %> dia(s) atrás
                </div>
                <div class="col-md-8">
                  <%= notificacao.descricao %>
                </div>
                <div class="col-md-4">
                  <span class="label label-warning" title=""><%= notificacao.tipo %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  <% end %>
  <div align="center" class="margin-top">
    <a href="/notificacoes/new" class="btn btn-default">Criar Notificação</a>
    <a href="/notificacoes" class="btn btn-default">Ver Histórico / Relatório</a>
  </div>
</div>

<div class="col-md-12">
  <nav role="navigation" class="">
    <br>
    <%= form_tag( '/pesquisar_assistidos', :method => :get ) do %>
    <form accept-charset="UTF-8" action="/pesquisar_assistidos" method="get">
      <div class="input-group">

        <span class="input-group-addon switch-element" data-elemento="#busca_avancada" id="botao_avancado">Avançado</span>
        <%= text_field_tag :busca_assistido, "Procurar Assistido", class: "form-control", onclick: "this.value='';" %>
        <span class="input-group-btn">
            <%=button_to 'Buscar', "", class: "btn btn-default" %>
        </span>
      </div>
    <% end %>

    <div id="busca_avancada" title="Opções Avançadas" class="hiden absolute-1 col-md-6" data-display="false">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Busca Avançada</h3>
        </div>
        <div class="panel-body">
          <%= form_tag( '/pesquisar_assistidos', :method => :get ) do %>
              <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label>N° Processo</label><br>
                  <%= text_field_tag :busca_processo %> <br>
                </div>
                <div class="form-group">
                  <label>Nome</label>
                  <%= text_field_tag :busca_nome %>
                </div>
                <div class="form-group">
                  <label>Nome Social</label>
                  <%= text_field_tag :busca_nome_social %>
                </div>
                <div class="form-group">
                  <label>Data de Nascimento</label><br>
                  De <%= text_field_tag :busca_data_nascimento_inicio, "", size: 10, class: "campo_data" %>
                  até
                  <%= text_field_tag :busca_data_nascimento_fim, "", size: 10, class: "campo_data" %><br>
                </div>
                <div class="form-group">
                  <label>Sexo</label><br>
                  <%= radio_button_tag :busca_sexo, "Masculino" %> Masculino
                  <%= radio_button_tag :busca_sexo, "Feminino" %> Feminino <br>
                </div>
                <div class="form-group">
                  <label>Nome da Mãe</label><br>
                  <%= text_field_tag :busca_nome_mae %>
                </div>
                <div class="form-group">
                  <label>Nome do Pai</label><br>
                  <%= text_field_tag :busca_nome_pai %>
                </div>
                <div class="form-group">
                  <label>Profissão</label><br>
                  <%= text_field_tag :busca_profissao %>
                </div>
                <div class="form-group">
                  <label>CEP</label>
                  <%= text_field_tag :busca_cep, "", size: 8, class:"cep" %>
                  <%= image_tag "cep.png", alt: "Cep Icon", height: "20px", width:"20px" %>
                </div>
                <%= button_to 'Buscar', "", style: "float: left;", class: "btn btn-primary btn-sm" %>
                <%= text_field_tag 'Limpar', "Limpar", style: "float: left; width: 60px; margin-left: 10px;", class: "btn btn-default btn-sm", type: "buttom", size: 5, onclick: "limpar_buscar_avancada();" %>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label>Cidade/UF</label><br>
                  <%= select_tag :busca_cidade, options_for_select(listaCidades.map {|c| [c.nome]}), include_blank: true %>
                  /<%= select_tag :busca_uf, options_for_select(listaEstados), include_blank: true %><br>
                </div>
                <div class="form-group">
                  <label>Logradouro</label><br>
                  <%= text_field_tag :busca_logradouro %><br>
                </div>
                <div class="form-group">
                  <label>Numero/Bairro</label><br>
                  <%= text_field_tag :busca_numero, "", size: 5 %>/<%= text_field_tag :busca_bairro %><br>
                </div>
                <div class="form-group">
                  <label>Complemento</label><br>
                  <%= text_field_tag :busca_complemento %><br>
                </div>
                <div class="form-group">
                  <label>Telefone</label><br>
                  <%= text_field_tag :busca_telefone %><br>
                </div>
                <div class="form-group">
                  <label>Observação</label><br>
                  <%= text_field_tag :busca_observacao %> <br>
                </div>

                <%= hidden_field_tag :busca_avancada, "true" %> <br>
              </div>
            </div>
            </div>
          <% end %>
          </div>
    </div>
  </nav>
</div>
